body {
    background-image: url(assets/topography.png) ;
    repeat;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Trispace';
    line-height: 1.6em;
    font-size: 15px;
    padding-left: 10%;
    padding-right: 10%;
}
header {
    background-color: #333333;
    padding:30px; 
    position: fixed;
    width:100%;
    right: 0%;
}
nav
{
    text-align: right;
    
    padding-left: 0px;
}
.logo {
    display: inline;
    float: left;
    padding-left: 10%;
}
.links {
    color: #ff0099;
}
.line
{
    text-align: center;
}
.headerDiv {
    width: 100%;
}