body {
    background-image: url(assets/topography.png) ;
    repeat;
    font-family: 'Trispace';
}
header {
background-color: #333333;

}
nav
{
    text-align: right;
    /*background-color: black;*/
}
img {
    
}
.links {
    color: #ff0099;
}