body {
    background-image: url(assets/topography.png) ;
    repeat;
    font-family: 'Trispace';
    padding-left: 10%;
    padding-right: 10%;
}
header {
background-color: #333333;
text-align: center;

}
nav
{
    text-align: right;
    
}
.logo {
    display: block;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: auto;
    width: 3%;
}
.links {
    color: #ff0099;
}